body{
    padding:40px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}


.signupbox{
    border:1px solid rgb(196, 194, 194);
    padding:40px;
}
p

{
    font-family: Inter, Helvetica, Arial, sans-serif;
font-size: 16px;
letter-spacing: 0.1px;
color: rgb(112, 111, 111);
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
}


.signupbox img
{
padding-left:45px;
}


.button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    background-color: rgb(45, 45 ,255);
    border:1px solid rgb(45, 45, 255);
    border-radius:8px;
    transition:background-color 0.3s ease;
}


.signupbox input{
    background-color: rgb(225, 229, 233);
    border:1px solid rgb(196, 194, 194) ;
    border-radius:3px;
    height:30px;
    width:300px;
    margin-top: 5px;
}


a
{  font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400px;
    text-decoration: none;
    margin-top: 5px;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.button:hover{
    background-color:rgb(6, 6, 133);
}
.or{
color: rgb(112, 111, 111);
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
}
.or p{font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.tnc p{
    font-size: 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:flex-start ;
}
.signin{
    margin-top:10px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:127px;
    padding-right:127px;
    border:1px solid rgb(196, 194, 194) ;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 12px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:flex-start ;
}
.signin a{
    color:blue;
}