body{color:solid rgb(196, 194, 194);
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.loginbox{
    color:solid rgb(196, 194, 194);
    padding:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    border:1px solid rgb(196, 194, 194);
    margin-bottom: 5px;
}
.loginbox input {
    display:block;
    margin:2px;
    font-family: sans-serif;
    font-size:14px;
    background-color: rgb(225, 229, 233);
    height: 30px;
    width:300px;
    border:1px solid rgb(196, 194, 194);
    border-radius:3px;
}

.loginbox button{
    font-weight:20px;
    border-radius:6px;
    font-family: sans-serif;
    font-size:14px;
    height:30px;
    width:300px;
    color:white;
    background-color:rgb(45, 45, 255);
    border-color: rgb(45,45,255);
    transition: background-color 0.3s ease;
}
.loginbox button:hover{
    background-color: rgb(6, 6, 133);
    cursor:pointer;
}
.loginbox p{
    color:solid rgb(196, 194, 194);
    font-family: sans-serif;
    margin-top:15px;
}
.loginbox a{
color: black;
text-decoration: none;

}
.loginbox a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.facebook{
    padding-bottom:0px;
    margin-bottom:10px;
}


.signup {
    color: black;
    border:1px solid rgb(196, 194, 194);
    padding-top:20px;
    padding-bottom: 20px;
    padding-right:100px;
    padding-left: 100px;
}
.signup a{
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}
.forgot{
    padding-top: 0px;
    margin-top:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.forgot a {
    padding-bottom:20px;
}
.loginbox p{
    font-size: 14px;
    color: rgb(112, 111, 111);
}